<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>New User</title>
</head>
<body class="text-center">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
                <a class="navbar-brand" href="#">Django Africa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="../html/index.html"><i class="fa fa-home"></i>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="../html/users.html"><i class="fa fa-user"></i>User login<span class="sr-only">(current)</span></a>
                    </li>

                </div>
              </nav>                


              <div class="container">
                    <div col-sm col-md col-lg>
                        <h1>Covid-19 News platform</h1>
                        <h3 style="text-align:center">New User</h3>
                    </div>
                </div>

                    
                    <div class="nav-scroller bg-white shadow-sm">
                      <nav class="nav nav-underline">
                        <a class="nav-link" href="../html/countries.html">Countries</a>
                        <a class="nav-link" href="../html/latest.html">Latest news</a>
                        <a class="nav-link" href="../html/social.html">Social network</a>
                        <a class="nav-link" href="#">Game</a>
                        <a class="nav-link" href="../html/about.html">About</a>
                        <a class="nav-link" href="../html/contact.html">Contact</a>
                        
                      </nav>
                    </div>
                    
                    
                    <div class="container">
                            <div class="col-md-6 mx-auto text-center">
                               <div class="header-title">
                                  <h1 class="wv-heading--title">
                                     Register
                                  </h1>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-md-4 mx-auto">
                                  <div class="myform form ">
                                     <form action="" method="post" name="login">
                                         {% csrf_token %}
                                        <div class="form-group">
                                           {{ form}}
                                        </div>
                                        <div class="text-center ">
                                           <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                                        </div>
                                        <div class="col-md-12 ">
                                           <div class="login-or">
                                              <hr class="hr-or">
                                              <span class="span-or">or</span>
                                           </div>
                                        </div>
                                        <div class="form-group">
                                           <a class="btn btn-block g-button" href="#">
                                           <i class="fa fa-google"></i> Sign up with Google
                                           </a>
                                           <a class="btn btn-block g-button" href="#">
                                                <i class="fa fa-facebook"></i> Sign up with Facebook
                                                </a>
                                        </div>
                                        <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                                        </p>

                                        <p class="mt-5 mb-3 text-muted text-center">&copy; Django Africa 2020</p>


                    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
    </html>