<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Countries</title>
</head>
<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
                <a class="navbar-brand" href="index.html">Django Africa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="latest.html"><i class="fa fa-newspaper-o"></i>Latest news</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="countries.html"><i class="fa fa-flag"></i>Countries <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info"></i>About Us</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="about.html">Information</a>
                          <a class="dropdown-item" href="contact.html">Contact</a>
                          <a class="dropdown-item" href="social.html">Social Media</a>  
                        </div>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>              


        <div class="container">
            <div col-sm col-md col-lg>
                <h1>Covid-19  news platform</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-10">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-primary">World</strong>
                          <h3 class="mb-0">Featured post</h3>
                          <div class="mb-1 text-muted">April 10</div>
                          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <hr>
        <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-4 offset-1 col-sm-2">
                            <h5>Links</h5>
                            <ul>
                                <li><a href="index.html"><i class="fa fa-home"></i> Home </a></li>
                                <li> <a href="about.html"><i class="fa fa-info"></i> About </a> </li>
                                <li> <a href="latest.html"><i class="fa fa-newspaper-o"></i> Latest news </a> </li>
                                <li> <a href="contact.html"><i class="fa fa-address-card"></i> Contact </a> </li>
                            </ul>
                        </div>
            
                        <div class="col-7 col-sm-5">
                            <h5>Our Address</h5>
                            <address>

                                <i class="fa fa-phone fa-lg"></i> 
                                <i class="fa fa-fax fa-lg"></i>   
                                <i class="fa fa-envelope"></i> 
                                
                            </address> 
                        </div>
                        <div class="col-12 col-sm-4 align-self-center">
                            <div class="text-center">
                                <a class="fa fa-google" href="google.com/django"> Google </a>
                                <a class="fa fa-facebook" href="facebook.com/django"> Facebook </a>

                        </div>
                    </div>
                                <a class="fa fa-envelope"> Email: <a href="mailto:djangoafrica@gmail.com">Django Africa</a></a>
                            
                            </div>
                        </div>
                    </div>
                
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <p> &copy; Copyright, Django Africa  </p>
                        </div>
                    </div>
            
                </div>
            
            </footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>